<div class="contactus">
    <div class="container">
        <div class="form-box">
            <button type="button" class="close" ng-click="$dismiss();clearData()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center title">
                <h4>Let us know your contact details so we can be in touch with you to discuss your vision</h4>
                <!--<div class="subtitle">
                    <p>The ability of a group of people to do remarkable things hinges on how well we can pull together as a
                        team.
                    </p>
                </div>-->
            </div>
            <!--<div class="custom-form">-->
                <!--<form name="contactFormName" class="form-group" ng-submit="submitcontactForm(contactForm,contactFormName.$valid)">
                    <div class="form-spacing">
                        <div class="form-group">
                            <label for="name">
                                Full Name *</label>
                            <input type="text" ng-model="contactForm.name" class="form-control" id="name" placeholder="Please enter your full name" name="name"
                                required>
                            <div class="pull-right">
                                <span class="label label-danger" ng-show="contactFormName.name.$invalid && contactFormName.name.$viewValue && contactFormName.name.$dirty">Please enter valid name</span>
                                <span class="label label-danger" ng-show="contactBtnClicked  && contactFormName.name.$error.required">Please enter name</span>
                            </div>
                        </div>-->
                        <!--<div class="form-group">
                            <label for="userEmail">Email *</label>
                            <input type="email" ng-model="contactForm.userEmail" class="form-control" id="userEmail" placeholder="Please enter your email"
                                name="userEmail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>

                            <div class="pull-right">
                                <span class="label label-danger" ng-show="contactFormName.userEmail.$invalid && contactFormName.userEmail.$viewValue && contactFormName.userEmail.$dirty">Please enter valid email</span>
                                <span class="label label-danger" ng-show="submitBtnClicked  && contactFormName.userEmail.$error.required">Please enter email</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="contactno">
                                Contact No.</label>
                            <input type="tel" ng-model="contactForm.number" maxlength="20" class="form-control" id="contactno" placeholder="Please enter your contact number"
                                name="contactno">

                        </div>

                        <div class="form-group ">
                            <label for="comments ">
                                Comments *</label>
                            <textarea name="query" ng-model="contactForm.comments" id="query" placeholder="Please share some comments" cols="30" rows="5"
                                class="form-control" required></textarea>

                            <div class="pull-right">
                                <span class="label label-danger" ng-show="contactFormName.comments.$invalid && contactFormName.comments.$viewValue && contactFormName.comments.$dirty">Please enter valid comments</span>
                                <span class="label label-danger" ng-show="submitBtnClicked  && contactFormName.comments.$error.required">Please enter comments</span>
                            </div>

                        </div>-->
                    <!--</div>
                    <div class="text-center text-uppercase ">
                        <button type="submit" ng-disabled="apiCalling" class="btn btn-primary text-uppercase send" promise-btn>Submit</button>
                    </div>
                </form>-->
<!--                
            </div>-->


             <div class="custom-form">
                <form novalidate name="contactFormName" class="form-group" ng-submit="submitcontactForm(contactForm,contactFormName.$valid);">
                    <div class="form-spacing">
                        <!--<div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" ng-model="contactForm.email" class="form-control" id="email" placeholder="Please enter your TUI email"
                                name="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                            <div class="pull-right">
                                <span class="label label-danger" ng-show="contactFormName.email.$invalid && contactFormName.email.$viewValue && contactFormName.email.$dirty">Please enter valid email</span>
                                <span class="label label-danger" ng-show="contactBtnClicked  && contactFormName.email.$error.required">Please enter email</span>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="name" ng-model="contactForm.name" class="form-control" id="name" placeholder="Please enter your name"
                                name="name" required>
                            <div class="pull-right">
                                <span class="label label-danger" ng-show="contactFormName.name.$invalid && contactFormName.name.$viewValue && contactFormName.name.$dirty">Please enter your name</span>
                                <span class="label label-danger" ng-show="contactBtnClicked  && contactFormName.name.$error.required">Please enter your name</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userEmail">Email *</label>
                            <input type="email" ng-model="contactForm.userEmail" class="form-control" id="userEmail" placeholder="Please enter your email"
                                name="userEmail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                            <div class="pull-right">
                                <span class="label label-danger" ng-show="contactFormName.userEmail.$invalid && contactFormName.userEmail.$viewValue && contactFormName.userEmail.$dirty">Please enter valid email</span>
                                <span class="label label-danger" ng-show="contactBtnClicked  && contactFormName.userEmail.$error.required">Please enter your email</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contactno">Contact No.</label>
                            <input type="tel" ng-model="contactForm.number" maxlength="10" class="form-control" id="contactno" placeholder="Please enter your contact number"
                                name="contactno" only-digits>
                            <!--<div class="pull-right">
                                <span class="label label-danger" ng-show="contactFormName.email.$invalid && contactFormName.email.$viewValue && contactFormName.email.$dirty">Please enter valid email</span>
                                <span class="label label-danger" ng-show="contactBtnClicked  && contactFormName.email.$error.required">Please enter email</span>
                            </div>-->
                        </div>
                        <div class="form-group">
                            <label for="comments">Comments *</label>
                            <textarea name="comments" ng-model="contactForm.comments" id="comments" placeholder="Please share some comments" cols="30" rows="5"
                                class="form-control" required></textarea>
                            <div class="pull-right">
                                <span class="label label-danger" ng-show="contactFormName.comments.$invalid && contactFormName.comments.$viewValue && contactFormName.comments.$dirty">Please share some comments</span>
                                <span class="label label-danger" ng-show="contactBtnClicked  && contactFormName.comments.$error.required">Please share some comments</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-uppercase">
                        <button type="submit" ng-disabled="apiCalling" class="btn btn-primary text-uppercase send" promise-btn>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>