<!-- <div class="login">
    <div class="container">
        <div class="login-box">
            <h4 class="text-uppercase text-center">let the experience begin</h4>
            <hr>
            <form>
                <div class="form-group">
                    <label for="usr">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                    <div class="text-right">
                        <a class="request">Request Access</a>
                    </div>
                </div>
                <div class="text-center text-uppercase">
                    <button type="submit" class="custom-submit">send access link</button>
                </div>
            </form>
        </div>
    </div>
</div> -->