<header class="fixed-top" ui-sref="app.home">
    <div class="custom-header">
        <div class="container">
            <div>
                <picture>
                    <source media="(min-width: 900px)" srcset="img/width1200.svg">
                    <source media="(min-width: 768px )" srcset="img/width768.svg">
                    <source media="(min-width: 0px)" srcset="img/width500.svg">
                    <img src="img/width1200.svg" alt="Logo" style="width:auto;">
                </picture>
            </div>
        </div>
    </div>
</header>