<header class="fixed-top" ui-sref="app.home">
    <div class="logo">
        <img src="img/xantura.svg" class="logo-1" alt="Xantura">
        <img src="img/systemsplus.svg" class="logo-2" alt="Systems Plus">
    </div>
    <div class="display-inline">
        <p>"A vision is like a dream - it will disappear unless we do something with it."</p>
        <button type="button" class="btn btn-primary text-uppercase discuss-btn" ng-click="openContact();">
            Let's Discuss
        </button>
    </div>
</header>