<header class="fixed-top">
    <div class="custom-header project-header">
        <div class="container">
            <div class="row">
                <div class="col col-sm-4 text-left">
                    <button class="btn btn-danger text-uppercase custom-button" ng-click="goBack()">
                        <i class="fas fa-angle-left"></i> Go Back</button>
                </div>
                <div class="col col-sm-4 text-center">
                    <p class="innovatives"><span>INNOV</span>ATIVES</p>
                </div>
                <div class="col col-sm-4 text-right">
                    <button class="btn btn-primary text-uppercase custom-button" ng-click="openContact()">
                        Let's Discuss</button>
                </div>
            </div>
        </div>
    </div>
</header>