<div class="home">
    <!-- SWIPER SLIDER -->
    <div class="wdh">
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <!-- SLIDER IMAGES -->
                <div class="swiper-slide home-slider" ng-repeat="s in mySlidess" style="background:linear-gradient(90deg, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0)), url({{s.bannerImage | uploadpath}}) no-repeat;">
                    <div class="slider-content container text-left">
                        <div class="text-content">
                            <h4 class="text-uppercase">{{s.name}}</h4>
                            <div class="subline-box">
                                <p>{{s.shortDescription}}</p>
                                <div class="text-right">
                                    <a class="btn btn-success btn-sm inline pointer" ui-sref="app.project({id:s._id})">Learn More</a>
                                    <a class="btn btn-success btn-sm inline" ng-if="s.demoLink && s.demoLink!='nolink'" ui-sref="app.project-demo({url: s.demoLink})"
                                        ng-click="gaViewDemo(s.name)">View Demo</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION BUTTONS -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <!-- OUTCOMES AND EXPERIENCES -->
    <div class="outnexp">
        <div class="container">
            <div class="text-center">
                <h4 class="background title text-uppercase">
                    <span>Outcomes &amp; Experiences</span>
                </h4>
                <p class="sub-title font-Merri">"A vision is like a dream - it will disappear unless we do something with it."</p>
            </div>

            <!-- Tabs -->
            <div class="text-center  mb-4">
                <button class="btn btn-outline-success grp-btn text-uppercase" ng-repeat="p in projectType" ng-if="groupBy[p.id]" ng-click="clickType(p.id)" ng-class="{'blue':selected==p.id}">{{p.type}}</button>
            </div>
            <!-- Images -->
            <div class="row block">
                <div class="col-md-6 col-lg-4 col-sm-12" ng-repeat="x in groupBy[selected] | filter:type">
                    <div class="hover-shadow">
                        <a class="bg-block" ui-sref="app.project({id: x._id})">
                            <img class="img-full" src="img/rect.png">
                            <div class="banner-image" style="background-image :url({{x.bannerImage | uploadpath}});"></div>
                        </a>
                        <div class="middle">
                            <div class="text">
                                <h4 class="text-uppercase">
                                    <a ui-sref="app.project({id: x._id})">{{x.name}}</a>
                                </h4>
                                <p>{{x.shortDescription}}</p>
                                <!--<a class="btn btn-primary btn-sm btn-block" ng-if="x.demoLink" ng-href="{{x.demoLink}}" target="_blank">View Demo</a>-->
                                <a class="btn btn-success btn-sm btn-block" ng-if="x.demoLink && x.demoLink!='nolink'" ui-sref="app.project-demo({url: x.demoLink})"
                                    ng-click="gaVideoDemo(x.name)">View Demo</a>
                                <a class="btn btn-warning btn-sm btn-block" ng-if="!x.demoLink || x.demoLink=='nolink'" ui-sref="app.project({id: x._id})">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>