<div class="home">
    <!-- SWIPER SLIDER -->
    <div class="wdh">
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <!-- SLIDER IMAGES -->
                <div class="swiper-slide home-slider" ng-repeat="s in mySlidess" style="background:linear-gradient(90deg, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0)), url({{s.bannerImage | uploadpath}}) no-repeat;">
                    <div class="slider-content container text-left">
                        <div class="text-content">
                            <h4 class="text-uppercase">{{s.name}}</h4>
                            <p>{{s.shortDescription}}</p>
                            <a class="mr-3 inline pointer" ui-sref="app.project({id:s._id})">Learn More »</i>
                            </a>
                            <a class="inline" ng-if="s.demoLink && s.demoLink!='nolink'" ui-sref="app.project-demo({url: s.demoLink})" ng-click="gaViewDemo(s.name)">View Demo »</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION BUTTONS -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <!-- DISCUSS NOW -->
    <div class="container">
        <div class="discuss-now text-center">
            <p class="font-Merri mr-3 inline">"A vision is like a dream - it will disappear unless we do something with it."
            </p>
            <span class="inline">
                <button type="submit" class="btn btn-primary text-uppercase discuss-btn" ng-click="openContact()">
                    Let's Discuss
                </button>
            </span>
        </div>
    </div>

    <!-- OUTCOMES AND EXPERIENCES -->
    <div class="outnexp">
        <div class="container">
            <div class="title text-uppercase text-center">
                <h4 class="background">
                    <span>OUTCOMES &amp; EXPERIENCES</span>
                </h4>
            </div>

            <!-- Tabs -->
            <div class="text-center">
                <button class="btn btn-outline-primary text-uppercase" ng-repeat="p in projectType" ng-click="clickType(p.id)" ng-class="{'blue':selected==p.id}">{{p.type}}</button>
            </div>
            <!-- Images -->
            <div class="row block">
                <div class="col-md-6 col-lg-4 col-sm-12" ng-repeat="x in mySlides2 | filter:type">
                    <div class="hover-shadow">
                        <a class="bg-block" ui-sref="app.project({id: x._id})">
                            <img class="img-full" src="img/rect.png">
                            <div class="banner-image" style="background-image :url({{x.bannerImage | uploadpath}});"></div>
                        </a>
                        <div class="middle">
                            <div class="text">
                                <h4 class="text-uppercase">
                                    <a ui-sref="app.project({id: x._id})">{{x.name}}</a>
                                </h4>
                                <p>{{x.shortDescription}}</p>
                                <!--<a class="btn btn-primary btn-sm btn-block" ng-if="x.demoLink" ng-href="{{x.demoLink}}" target="_blank">View Demo</a>-->
                                <a class="btn btn-primary btn-sm btn-block" ng-if="x.demoLink && x.demoLink!='nolink'" ui-sref="app.project-demo({url: x.demoLink})"
                                    ng-click="gaVideoDemo(x.name)">View Demo</a>
                                <a class="btn btn-secondary btn-sm btn-block" ng-if="!x.demoLink || x.demoLink=='nolink'" ui-sref="app.project({id: x._id})">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>