@font-face {
    font-family: 'TUITypeLt';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/tuitype-light/tuitypelt-webfont.eot');
    src: url('../fonts/tuitype-light/tuitypelt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tuitype-light/tuitypelt-webfont.ttf') format('truetype'), url('../fonts/tuitype-light/tuitypelt-webfont.woff') format('woff'), url('../fonts/tuitype-light/tuitypelt-webfont.svg#tuitypelight') format('svg');
}

@font-face {
    font-family: 'TUITypeLt';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/tuitype-light-bold/tuitypeltbd-webfont.eot');
    src: url('../fonts/tuitype-light-bold/tuitypeltbd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tuitype-light-bold/tuitypeltbd-webfont.ttf') format('truetype'), url('../fonts/tuitype-light-bold/tuitypeltbd-webfont.woff') format('woff'), url('../fonts/tuitype-light-bold/tuitypeltbd-webfont.svg#tuitypelightbold') format('svg');
}

@font-face {
    font-family: 'TUIType';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/tuitype/tuitype-webfont.eot');
    src: url('../fonts/tuitype/tuitype-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tuitype/tuitype-webfont.ttf') format('truetype'), url('../fonts/tuitype/tuitype-webfont.woff') format('woff'), url('../fonts/tuitype/tuitype-webfont.svg#tuityperegular') format('svg');
}

@font-face {
    font-family: 'TUIType';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/tuitype-bold/tuitypebd-webfont.eot');
    src: url('../fonts/tuitype-bold/tuitypebd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tuitype-bold/tuitypebd-webfont.ttf') format('truetype'), url('../fonts/tuitype-bold/tuitypebd-webfont.woff') format('woff'), url('../fonts/tuitype-bold/tuitypebd-webfont.svg#tuitypebold') format('svg');
}